body{
    display: flex;
    flex-direction: column;
    margin:0;
}
/*header*/
#header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:40px;
}
#header div{
    font-size: 50px;
    font-weight:900;
}

/*main body*/
 /*score board*/

#score_board{
    display: flex;
    padding:20px;
    justify-content: space-around;
   
}

.y,.c{
    font-size: 40px;
    font-weight: 300;
}

.your_score,.computer_score{
    font-size:100px;
}

/*choices*/
 
#choices{
    display: flex;
    justify-content: space-around;
    padding:40px;
}

#choices button{
    font-size:40px;
}

/*start*/

#start{
    display: flex;
    justify-content: center;
    padding:30px;
}

#start button{
    font-size: 40px;
    margin-right: 30px;
    margin-bottom: auto;
}


footer{
    margin-bottom: auto;
}


