body{
    background-color: rgb(208, 198, 198);
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:0px;
    gap: 2rem;
}

/*header */
#header{
    background-color: darkslategray;
    display:flex;
    justify-content: center;
    align-items:center;
    padding:70px;
    flex-wrap: nowrap;
}
.title{
    color:rgb(239, 208, 30);
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style:initial;
    font-weight: bold;
}

/*main body*/

#container_of_score{
    display:flex;
    gap:3rem;
    justify-content: center;
    align-items: center;
}


.your_score,.computer_score{
    display: flex;
    flex-direction: column;
    height:300px;
    width: 200px;
    font-size: 30px;
}

